---
layout: default
title: Proyectos
description: Proyectos y trabajo seleccionado.
cta_heading: Mantente en contacto
slug: prints
published: false
---

<div class="video_modal">
  <button class="btn btn__basic--dark btn__circle btn__icon btn__scale--subtle close video_trigger">
    <i class="far fa-times" aria-hidden="true"></i>
    <span class="visually-hidden">Close video</span>
  </button>
  <div class="video_wrapper">{% include vimeo.html video_id='379082677' compressed=true %}</div>
</div>

<div class="section wrapper condensed">
  <div class="content condensed text-center">
    <h1 class="m-0">{{ page.title }}</h1>
    <p class="muted mt-4 subtitle">{{ page.description }}</p>
  </div>

  <div class="prints-grid mt-16">
    <div class="shop_feature">
      <div class="image border-radius__large" data-aos="fade-up">
        <a href="/prints/collections/all/" class="btn btn__dark btn__round btn__padding-medium">
          Visitar tienda
          <i class="fal fa-arrow-right ml-1" aria-hidden="true"></i>
        </a>
        <img
          class="border-radius__large"
          src="/assets/img/prints/prints-shop.jpg"
          alt="Various prints laid out on a table."
        />
      </div>
      <div class="details mt-12" data-aos="fade">
        <h2 class="m-0">Print Shop</h2>
        <p class="muted mt-4">
          Purchase limited edition prints of my photography + illustrations. Printed on premium quality paper in
          Vancouver, Canada. Shipping available worldwide.
        </p>
      </div>
    </div>

    <div class="collection_feature">
      <div class="image border-radius__large" data-aos="fade-up">
        <a href="/prints/collections/time/" class="btn btn__dark btn__round btn__padding-medium">
          View Collection
          <i class="fal fa-arrow-right ml-1" aria-hidden="true"></i>
        </a>
        <img
          class="border-radius__large"
          src="/assets/img/prints/prints-collection.jpg"
          alt="Various photos with prints in front of a wall."
        />
      </div>
      <div class="details mt-12" data-aos="fade">
        <h2 class="m-0">Time Collection</h2>
        <p class="muted mt-4">
          A collection of prints inspired by the defining moments of change in life. Photography and illustration,
          available in various sizes.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section wrapper condensed shop-section">
  <h2 class="m-0">Selected work</h2>
  <p class="muted mt-4">A collection of photography and illustrations I have created throughout the years.</p>

  <div class="section shop-section flex a-center mt-16">
    <div class="image" data-aos="fade-up">
      {% include shop/product-tag.html title='Pathways' %}
      <img
        class="border-radius__large"
        src="/assets/img/prints/pathways.jpg"
        alt="Aerial photo of a valley with a river passing through."
      />
    </div>
    <div class="content" data-aos="fade">
      <h3 class="m-0">Pathways</h3>
      <p class="muted mt-4">
        The guiding pathways in life are often more subtle than we imagine. They can be discovered and revealed over
        time, and may even lead to something greater.
      </p>
      <div class="buttons mt-10 flex a-center j-center">
        <a href="/prints/products/pathways/" class="btn btn__dark btn__round btn__padding-medium">
          View product
          <i class="fal fa-arrow-right ml-1" aria-hidden="true"></i>
        </a>
        <button class="btn btn__link btn__plain video_trigger">
          Watch video
          <i class="fal fa-play ml-1" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="section shop-section image-right flex a-center">
    <div class="content" data-aos="fade">
      <h3 class="m-0">Brandywine</h3>
      <p class="muted mt-4
