{% if site.data.content.announcement.display %}
  <div class="announcement-margin-top"></div>
{% endif %}

<nav class="new-nav {% if site.data.content.announcement.display %}announcement{% endif %}">
  {% if site.data.content.announcement.display %}
    <a
      href="{{ site.data.content.announcement.url }}"
      class="new-nav__announcement"
      {% if site.data.content.announcement.external %}
        target="_blank"
        rel="noopener"
      {% endif %}
    >
      <div class="details">
        <div class="title">
          <i class="fas fa-{{ site.data.content.announcement.icon }}" aria-hidden="true"></i>
          <p>{{ site.data.content.announcement.title }}</p>
        </div>

        <div class="divider" aria-hidden="true"></div>

        <p class="description">{{ site.data.content.announcement.description }}</p>
      </div>

      <i
        class="fas fa-arrow-right {% if site.data.content.announcement.external %}external{% endif %}"
        aria-hidden="true"
      ></i>
    </a>
  {% endif %}

  <div class="new-nav__static">
    <button class="btn btn__plain menu-trigger" title="Menú" type="button">
      <span class="mobile-only">
        <i class="fas fa-bars" aria-hidden="true"></i>
      </span>
      <span class="hide-mobile">Menú</span>
    </button>

    <a class="logo btn menu-logo" data-level="1" href="/">
      {% include assets/logo.html %}
    </a>
  </div>

  <div class="new-nav__interactive">
    <ul class="new-nav__items nav_main" id="nav_main">
      {% for link in site.data.linklists.main.links %}
        <li style="--transition-delay: {{ forloop.index | times: 0.05 }}s">
          {% include assets/nav-item.html link=link parent='nav_main' level=1 %}
        </li>
      {% endfor %}
    </ul>

    {% for link in site.data.linklists.main.links %}
      {% if link.links %}
        <ul class="new-nav__items subnav_{{ link.title | slugify }} child" id="subnav_{{ link.title | slugify }}">
          <li class="title">
            <button
              class="subnav-trigger btn btn__plain"
              data-parent="subnav_{{ link.title | slugify }}"
              data-target="nav_main"
              type="button"
            >
              <i class="fas fa-chevron-left" aria-hidden="true"></i>
              <span class="visually-hidden">Volver a {{ link.title }}</span>
            </button>

            <p class="muted">{{ link.title }}</p>
          </li>

          {% if link.links contains ':' %}
            {% include assets/nav-collections/{{ link.links | remove: ':' }}.html level=2 %}
          {% else %}
            {% for child in link.links %}
              <li style="--transition-delay: {{ forloop.index | times: 0.05 }}s">
                {% assign child_parent = link.title | slugify %}
                {% assign child_parent = child_parent | prepend: 'subnav_' %}
                {% include assets/nav-item.html link=child parent=child_parent level=2 %}
              </li>
            {% endfor %}
          {% endif %}
        </ul>

        {% unless link.links contains ':' %}
          {% for child in link.links %}
            {% if child.links %}
              <ul
                class="new-nav__items subnav_{{ child.title | slugify }} grandchild"
                data-related="subnav_{{ link.title | slugify }}"
                id="subnav_{{ child.title | slugify }}"
              >
                <li class="title">
                  <button
                    class="subnav-trigger btn btn__plain"
                    data-parent="subnav_{{ child.title | slugify }}"
                    data-target="subnav_{{ link.title | slugify }}"
                    type="button"
                  >
                    <i class="fas fa-chevron-left" aria-hidden="true"></i>
                    <span class="visually-hidden">Volver a {{ child.title }}</span>
                  </button>

                  <p class="muted">{{ link.title }}</p>
                  <p class="muted divider">/</p>
                  <p class="muted">{{ child.title }}</p>
                </li>

                {% if child.links contains ':' %}
                  {% include assets/nav-collections/{{ child.links | remove: ':' }}.html level=3 %}
                {% else %}
                  {% for grandchild in child.links %}
                    <li style="--transition-delay: {{ forloop.index | times: 0.05 }}s">
                      {% assign grandchild_parent = child.title | slugify %}
                      {% assign grandchild_parent = grandchild_parent | prepend: 'subnav_' %}
                      {% include assets/nav-item.html link=grandchild parent=grandchild_parent level=3 %}
                    </li>
                  {% endfor %}
                {% endif %}
              </ul>
            {% endif %}
          {% endfor %}
        {% endunless %}
      {% endif %}
    {% endfor %}
  </div>
</nav>

<script>
  var nav = document.querySelector(".new-nav");

  document.querySelector(".menu-logo").addEventListener("click", () => {
    if (nav.classList.contains("menu-active")) {
      expandNav("menu");
    }
  });

  document.querySelectorAll(".menu-trigger").forEach((trigger) => {
    trigger.addEventListener("click", () => {
      expandNav("menu");
    });
  });

  document.addEventListener("click", (event) => {
    if (nav.classList.contains("menu-active") && !nav.contains(event.target)) {
      expandNav("menu");
    }
  });

  function expandNav(type) {
    if (nav.classList.contains(`${type}-active`)) {
      nav.classList.toggle(`${type}-active`);

      setTimeout(() => {
        nav.classList.toggle(`${type}-is-open`);
      }, 400);
    } else {
      nav.classList.toggle(`${type}-is-open`);

      setTimeout(() => {
        nav.classList.toggle(`${type}-active`);
      }, 1);
    }
  }

  document.querySelectorAll(".subnav-trigger").forEach((trigger) => {
    trigger.addEventListener("click", () => {
      let parent = document.getElementById(trigger.getAttribute("data-parent"));
      let target = document.getElementById(trigger.getAttribute("data-target"));

      if (target.getAttribute("data-related") == parent.getAttribute("id")) {
        parent.classList.add("open-child");
        slideInTarget(target);
      } else if (target.classList.contains("open-child")) {
        target.classList.remove("open-child");
        slideOutParent(parent);
      } else {
        slideOutParent(parent);
        slideInTarget(target);
      }
    });
  });

  function slideOutParent(parent) {
    if (parent.getAttribute("id") == "nav_main") {
      parent.classList.toggle("is-closed");
    } else {
      parent.classList.toggle("active");

      setTimeout(() => {
        parent.classList.toggle("is-open");
      }, 400);
    }
  }

  function slideInTarget(target) {
    if (target.getAttribute("id") == "nav_main") {
      target.classList.toggle("is-closed");
    } else {
      target.classList.toggle("is-open");

      setTimeout(() => {
        target.classList.toggle("active");
      }, 1);
    }
  }
</script>

<div class="cookie-notice">
  <p>Este sitio usa cookies para mejorar la experiencia.</p>

  <button class="btn btn__plain" id="cookie-notice-close" type="button">
    <span class="visually-hidden">Cerrar aviso de cookies</span>
    <i class="fas fa-times" aria-hidden="true"></i>
  </button>
</div>
