<div class="wrapper condensed">
  <div class="newsletter section">
    <div class="newsletter__icon">
      <svg
        id="newsletter__icon"
        aria-hidden="true"
        viewBox="0 0 512 512"
        width="18"
        height="18"
        style="display: block"
      >
        <path
          fill="currentColor"
          d="M476 3.2L12.5 270.6c-18.7 10.8-15.8 38.7 4.6 45.5l111.5 37.2 37.2 111.5c6.8 20.4 34.7 23.3 45.5 4.6L508.8 36c9.4-16.3-7.1-36-32.8-32.8zM202.7 443.3l-28.8-86.3 78.7-78.7c6.2-6.2 1.7-16.9-7-16.9h-92.9L60.1 228.6 452.2 44.9 268.6 437l-65.9 6.3z"
        />
      </svg>
    </div>

    <h2 id="newsletter__heading">{{ page.cta_heading }}</h2>
    <p id="newsletter__body">{{ site.data.content.newsletter.body }}</p>

    <form name="newsletter_form" class="newsletter_form mt-8">
      <input name="ref" type="hidden" value="{{ page.slug }}" />
      <div class="input-group">
        <label for="email" class="visually-hidden">Email address</label>
        <input
          class="newsletter__email"
          name="email"
          id="email"
          type="email"
          autocomplete="email"
          placeholder="your@email.com"
          required
        />
      </div>
      <button type="submit" class="btn btn__basic newsletter__submit">Subscribe</button>
    </form>
  </div>
</div>
