---
---

@import "colors";
@import "structure";
@import "spacing";
@import "buttons";
@import "index";
@import "article";
@import "gallery";
@import "newsletter";
@import "syntax";
@import "audio";
@import "changes";
@import "footer";

//Shop
@import "shop";
@import "product";

@import "new-nav";

.menu-logo__img {
  height: 22px; // prueba 22px (sube a 24–28px si lo quieres más grande)
  width: auto;
  display: block;
}

