<div class="section" data-aos="fade">
  <div class="wrapper condensed chapter">
    <div class="chapter__title">
      <h3>Sobre mi</h3>
    </div>
    <div class="chapter__content">
      <p>
        Actualmente soy Vicerrector de Tecnología y Transformación Digital en la 
        <a href="https://universidadviu.com/" target="_blank">Universidad Internacional de Valencia (VIU)</a>, donde lidero el area de tecnología aplicada a enseñanza y aprendizaje.
        En este rol diseño estrategias de transformación digital para traducir las necesidades complejas en  soluciones claras, con un enfoque muy práctico de <p>visión → estrategia → diseño de solución → despliegue → adopción</p> 
      </p>

      <p>
       
      </p>
    </div>
  </div>
</div>
