<div class="section hero" data-aos="fade">
  <div class="wrapper condensed">
    <img class="avatar" src="/assets/img/avatar.jpg" alt="Foto de Pepe Sepúlveda" />
    <p>
      Soy un
      <span class="serif details-trigger" id="details-trigger">arquitecto de transformaciones digitales.</span><sup>*</sup>
      <br>
      Enfocado en el equilibrio entre <span class="serif">visión</span> y
      <span class="serif">ejecución</span>.
      <span class="details" id="details">
        * representa una serie de habilidades <br />
        que incluyen
        <span class="skills">
          {% for skill in site.data.content.homepage.hero.skills %}
          <span class="skill" style="--index: {{ forloop.index }}">{{ skill.title }}</span>
          {% endfor %}
        </span>
      </span>
    </p>
  </div>
</div>
